.container{
    width: 80vw;
    margin: 20px auto;
    border: 1px solid black;
    /* height: 200px; */
    display: grid;
    grid-auto-rows: 250px;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.container div{
    height: 30px;
}