<%- include("./partials/header") %> 
<%- include("./partials/navbar")%>
    <h1>These are the fruits which we have passed</h1>
<% for( let fruit of fruits) { %>
    <h3><%=fruit  %></h3>

<% } %>
<%- include("./partials/footer") %> 